@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Yanone+Kaffeesatz&display=swap');

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 3.5px;
}

.contenedor {
    margin: auto;
    width: 99%;
}

/*ESTILOS DEL HEADER*/

.header {
    height: 60px;
}

.header .contenedor {
display: flex;
justify-content: space-between;
}

.logo, .icon-menu {
margin: 5px;
color: #fff;
}

.icon-menu {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #FBA919;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}
/*ESTILOS DEL MENU*/
.nav {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.4s;
}

.menu {
list-style: none;
padding: 0;
margin: 0;
}

.menu__link {
display: block;
padding: 20px;
background: #FBA919;
text-decoration: none;
color: #fff;
}

.menu__link:hover {
    background: white;
    color: #FBA919;
}

.mostrar {
    left: 0;
}

.select {
    background: white;
    color: #FBA919;
}

/*estilos del banner*/

.banner {
    margin-top: -60px;
    position: relative;
    z-index: -1000;
    margin-bottom: 20px;
}

.banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: #fff;
    text-align: center;
}

.banner__txt {
    display: none;
}

.banner__img {
    width: 100%;
}

/*estilos del banner*/

.info__columna {
    background: #FBA919;
    color: #fff;
    padding: 15px;
    margin-bottom: 30px;
}

/*estilos del titulo*/

.section__titulo {
    text-align: center;
    font-size: 40px;
    color: #FBA919;
}

/*estilos del conoceme*/

.conoceme__columna {
    position: relative;
    margin-bottom: 30px;
}

.conoceme__descripcion {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    width: 60%;
    height: 100%;
    padding: 5px;
}

.conoceme__titulo {
    font-size: 25px;
    margin: 5px 0;
}

.conoceme__img {
    width: 100%;
}

/*estilos del footer*/
.footer {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer .social [class^="fa-"] {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px; 
}

/*estilos del responsive*/

@media(min-width:480px) {
    .logo {
        font-size: 40px;
    }
    .banner__titulo {
        font-size: 30px;
        margin: 5px 0;
    }

    .banner__txt {
        display: block;
        font-size: 18px;
        margin: 7px 0;
    }
    .info {
        display: flex;
        justify-content: space-between;
        margin-top: -90px;
    }
    .info__columna {
        width: 32%;
    }

    .info__titulo {
        font-size: 30px;
        margin: 5px 0;
    }
    .section__titulo {
        width: 100%;
    }
    .conoceme {
        flex-wrap: wrap;
        margin-top: 0;
    }
    .conoceme__columna {
        width: 49%;
    }   
    .footer .social [class^="icon-"] {
        margin: 0 10px;
    }
}

@media(min-width:760px) {
    .banner__titulo {
        font-size: 50px;
    }
    .conoceme__titulo {
        font-size: 40px;
    }
}

@media(min-width:1024px) {
       
    .contenedor {
        width: 1000px;
    }
    .section__titulo{
        font-size: 50px;
        margin: 30px 0;
    }
    .nav {
        position: static;
        width: auto;
    }
    .menu {
        display: flex;
    }
    .icon-menu {
        display: none;
    }
    .menu__link {
        background: none;
        font-size: 20px;
    }
    .select {
        color: #fff;
        background: #FBA919;
    }
    .banner__titulo {
        font-size: 60px;
    }
    .banner__txt {
        font-size: 25px;
    }
    .info__titulo{
        font-size: 40px;
        text-align: center;
    }
    .info__columna {
        padding: 30px;
    }
    .conoceme__descripcion {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .conoceme__titulo {
        font-size: 50px;
    }
    .conoceme__txt {
        font-size: 20px;
    }
}

@media (min-width:1280px) {
    .contenedor {
        width: 1200px;
    }
    .banner .contenedor {
        top: 40%;
    }
    .info {
        margin-top: -200px;
    }
}

/* reloj */
.wrap{
    width: 90%;
    max-width: 1000px;
    margin: auto;
  }
  
  .widget{
    width: 40%;
    margin: 2em;
  }
  
  .widget p{
    display: inline-block;
    line-height: 1em;
  }
  
  .fecha{
    font-family: Oswald, Arial;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.3125rem;
    background: rgba(0, 0, 0,.5);
    padding: 20px;
    width: 100%;
  }
   .reloj{
    font-family: Oswald, Arial;
    width: 100%;
    padding: 20px;
    font-size: 4em;
    text-align: center;
    background: rgba(0, 0, 0,.5);
   }
  
   .reloj .caja-segundos{
     display: inline-block;
   }
  
   .reloj .segundos,
   .reloj .ampm{
     font-size: 2rem;
     display: block;
   }